.chart-border {
  stroke: black;
}

.chart-axis {
  stroke: black;
}

.chart-line {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}

.chart-data[hovered] .chart-series:not([hovered]) {
  opacity: 0.2;
}
