.chart-border {
  stroke: black;
}

.chart-axis {
  stroke: black;
}

.chart-axis text {
  stroke-width: 0.5;
  font-size: 120%;
}

.chart-line {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}

.chart-bar {
  fill: currentColor;
  stroke: currentColor;
}
