#layout {
  height: 500px;
}

#legend {
  margin-top: 60px;
}

#legend li {
  list-style: none;
}

#legend label {
  font-weight: normal;
}

#legend input {
  margin-right: 5px;
  vertical-align: center;
}

#chart * {
  -moz-box-sizing: content-box;
}

svg {
  width: 100%;
}

.chart-data[hovered] .chart-series:not([hovered]) {
  opacity: 0.2;
}
