#layout {
  height: 500px;
}

#chart * {
  -moz-box-sizing: content-box;
}

svg {
  width: 100%;
}

.border {
  stroke: black;
}

.axis {
  stroke: black;
}

.data {
  stroke-width: 1.5;
  fill: none;
}
