<!DOCTYPE HTML>

<html lang="en">
<head>
  <title>{% block title %}Weather Stats{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}daterangepicker/daterangepicker-bs3.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/layout.css">
{% block style_lib %}{% endblock %}
{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="{{ STATIC_URL }}daterangepicker/daterangepicker.js"></script>
{% block script_lib %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
