{% extends "graph.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p class="text-center">
        <select id="left-type">
          <option value="-">---</option>
{% for type in types %}
          <option value="{{ type.id }}">{{ type }}</option>
{% endfor %}
        </select>
      </p>
    </div>
    <div class="col-md-8 text-center">
      <div id="graphrange">
        <i class="fa fa-calendar fa-lg"></i>
        <span></span> <b class="caret"></b>
      </div>
    </div>
    <div class="col-md-2">
      <p class="text-center">
        <select id="right-type">
          <option value="-">---</option>
{% for type in types %}
          <option value="{{ type.id }}">{{ type }}</option>
{% endfor %}
        </select>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div id="left-legend"></div>
    </div>
    <div id="chart" class="col-md-8"></div>
    <div class="col-md-2">
      <div id="right-legend"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  var startDate = moment().subtract('month', 1);
  var endDate = moment();

  function fetchMeasurements(type, callback) {
    if (type == "-")
      callback(null);

    var url = "{% url 'measurements' %}?type=" + type + "&mindate=" + startDate.unix() + "&maxdate=" + endDate.unix();
    $.getJSON(url, null, callback);
  }

  function updateGraph() {
    fetchMeasurements($('#left-type').val(), function(leftData) {
      var leftChartData = [
        { id: d.device.location.id, data: [m for (m of d.measurements)] }
        for (d of leftData)
      ];

      var extents = getTimeBounds(leftChartData);

      var chart = new TimeChart("#chart", {
        minTime: extents[0],
        maxTime: extents[1]
      });

      chart.drawAxis(chart.addLineSeries(leftChartData));
    });
  }

  function updatePicker() {
    $('#graphrange span').html(startDate.format('MMMM D, YYYY') + ' - ' + endDate.format('MMMM D, YYYY'));
  }

  $('#graphrange').daterangepicker({
      ranges: {
        'Last Week': [moment().subtract('days', 6), moment()],
        'Last Month': [moment().subtract('month', 1), moment()],
        'Last Year': [moment().subtract('year', 1), moment()]
      },
      startDate: startDate,
      endDate: endDate,
      minDate: moment.unix({{ mindate|date:"U" }}),
      maxDate: moment.unix({{ maxdate|date:"U" }})
    },
    function(start, end) {
      startDate = start;
      endDate = end;

      updatePicker();
      updateGraph();
    }
  );

  $('#left-type').on('change', updateGraph);
  $('#right-type').on('change', updateGraph);
  updatePicker();
</script>
{% endblock %}
