{% extends "graph.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p class="text-center">
        <select id="left-type">
          <option value="-">---</option>
{% for type in types %}
          <option value="{{ type.id }}">{{ type }}</option>
{% endfor %}
        </select>
      </p>
    </div>
    <div class="col-md-8 text-center">
      <div id="graphrange">
        <i class="fa fa-calendar fa-lg"></i>
        <span></span> <b class="caret"></b>
      </div>
    </div>
    <div class="col-md-2">
      <p class="text-center">
        <select id="right-type">
          <option value="-">---</option>
{% for type in types %}
          <option value="{{ type.id }}">{{ type }}</option>
{% endfor %}
        </select>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul id="legend"></ul>
    </div>
    <div id="chart" class="col-md-8"></div>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  var startDate = moment().subtract('month', 1);
  var endDate = moment();

  function fetchMeasurements(type, callback) {
    if (type == "-")
      callback(null);

    var url = "{% url 'measurements' %}?type=" + type + "&mindate=" + startDate.unix() + "&maxdate=" + endDate.unix();
    $.getJSON(url, null, callback);
  }

  function updateLegend(series) {
    d3.select("#legend")
      .selectAll("li")
      .data(series, d => { return d.device.location.id })
      .enter()
      .append("li")
      .text(d => { return d.device.location.name })
      .on("mouseenter", d => {
        d3.selectAll("#chart-series-" + d.device.location.id).attr("hovered", "true")
      })
      .on("mouseleave", d => {
        d3.selectAll("#chart-series-" + d.device.location.id).attr("hovered", null)
      })
  }

  function updateGraph() {
    fetchMeasurements($('#left-type').val(), function(leftSeries) {
      updateLegend(leftSeries);

      var leftChartData = [
        { id: d.device.location.id, data: [m for (m of d.measurements)] }
        for (d of leftSeries)
      ];

      var extents = getTimeBounds(leftChartData);

      var chart = new TimeChart("#chart", {
        minTime: extents[0],
        maxTime: extents[1]
      });

      chart.drawAxis(chart.addLineSeries(leftChartData));
    });
  }

  function updatePicker() {
    $('#graphrange span').html(startDate.format('MMMM D, YYYY') + ' - ' + endDate.format('MMMM D, YYYY'));
  }

  $('#graphrange').daterangepicker({
      ranges: {
        'Last Week': [moment().subtract('days', 6), moment()],
        'Last Month': [moment().subtract('month', 1), moment()],
        'Last Year': [moment().subtract('year', 1), moment()]
      },
      startDate: startDate,
      endDate: endDate,
      minDate: moment.unix({{ mindate|date:"U" }}),
      maxDate: moment.unix({{ maxdate|date:"U" }})
    },
    function(start, end) {
      startDate = start;
      endDate = end;

      updatePicker();
      updateGraph();
    }
  );

  function init() {
    $('#left-type').on('change', updateGraph);
    $('#right-type').on('change', updateGraph);
    updatePicker();

    d3.select("#legend")
      .on("mouseenter", () => {
        d3.select("#chart .chart-data").attr("hovered", "true");
      })
      .on("mouseleave", () => {
        d3.select("#chart .chart-data").attr("hovered", null);
      })
  }

  init();
</script>
{% endblock %}
